<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>结算页面</title>
    <link rel="stylesheet" href="/css/Universal.css">
    <link rel="stylesheet" href="/css/checkout.css">
</head>
<body>
<header>
    <nav>
        <div class="logo"><a href="/">logo</a></div>
        <ul>
            <li><a href="/cart">购物车</a></li>
            <li><a href="/">用户</a></li>
            <li><a href="/">设置</a></li>
        </ul>
    </nav>
</header>
<main>
    <form action="/checkout" method="POST">
        <h2>结算</h2>
        <p style="font-size: 24px;filter: grayscale(100%);color: rgba(255,255,255,0.6)">请填写姓名和地址</p><br>
        <div>
            <label for="name">姓名:</label>
            <input type="text" id="name" name="name" required><br><br>
        </div>

        <div>
            <label for="address">地址:</label>
            <input type="text" id="address" name="address" required><br><br>
        </div>

        <div>
            <button type="button" onclick="window.location.href='/cart'">返回上页</button>
            <button type="submit">确认结算</button>
        </div>
    </form>
</main>
<footer>
    <p>&copy; 2025 <strong>购物网站</strong>. 版权所有xxx | <a href="#">隐私政策</a> | <a href="#">服务条款</a></p>
</footer>
</body>
</html>
